<%= form_for [@corporate, @booking], html: { class: 'form-horizontal' } do |f|  %>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group" id="data_1">				
				<%= f.label :book_date, class: "col-sm-4 control-label" %>
		    <div class="col-sm-8">
		    	<div class="input-group date">
		        <span class="input-group-addon">
		        <i class="fa fa-calendar"></i>
		        </span>
		        <% if action_name == 'new' %>
		        	<%= f.text_field :book_date, class: "form-control", value: Time.now.strftime('%m/%d/%Y') %>		        
		        <% else %>
		        	<%= f.text_field :book_date, class: "form-control", value: @booking.book_date.strftime('%m/%d/%Y') %>		        
		        <% end %>
		      </div>
		    </div>
		  </div>
	  </div>
	  <div class="col-lg-6">
		  <div class="form-group">			
				<%= f.label :book_time, class: "col-sm-4 control-label" %>
		    <div class="col-sm-3">		  		    		          		           
		    	<% if action_name == 'new' %>
		        	<%= f.text_field :book_time, class: "form-control", value: '00:00' %>
		        <% else %>
		        	<%= f.text_field :book_time, class: "form-control", value: @booking.book_time %>		        
		        <% end %>
		    </div>
		  </div>
		</div>
  </div>
  <div class="hr-line-dashed"></div>
  <div class="row">
	  <div class="col-lg-6">
		  <div class="form-group">				
				<%= f.label :car_type_id, class: "col-sm-4 control-label" %>
		    <div class="col-sm-6">	
		    	<%= f.collection_select(:car_type_id, CarType.all, :id, :name, {}, {class: "form-control"}) %>	    			        	   
		    </div>
		  </div>
		</div>
		<div class="col-lg-6">
		  <div class="form-group">				
				<%= f.label :payment_type_id, class: "col-sm-4 control-label" %>
		    <div class="col-sm-6">	
	    		<%= f.collection_select(:payment_type_id, PaymentType.all, :id, :name, {}, {class: "form-control"}) %>	    			        	   	        	   
		    </div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">				
				<%= f.label :passenger_name, class: "col-sm-4 control-label" %>
		    <div class="col-sm-8">		    
		    	<%= f.text_field :passenger_name, class: "form-control", placeholder: "Passenger's Name" %>			        
		    </div>
		  </div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">				
				<%= f.label :telephone_no, class: "col-sm-4 control-label" %>
		    <div class="col-sm-8">		 		    	
		    	<%= f.text_field :telephone_no, class: "form-control", placeholder: "Passenger's Mobile" %>	   		        
		    </div>
		  </div>
		</div>
	</div>	
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">				
				<%= f.label :remarks, class: "col-sm-2 control-label" %>
		    <div class="col-sm-10">		    		        
		      <%= f.text_field :remarks, class: "form-control", placeholder: "Your remarks here..." %>	   		        	   
		    </div>
		  </div>
		</div>			
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">				
				<%= f.label :from_name, class: "col-sm-4 control-label" %>
		    <div class="col-sm-8">		    		        
		      <%= f.text_field :from_name, id: "geocompleteFrom", class: "form-control", placeholder: "From Address" %>	   		        	   
		    </div>
		  </div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<%= f.label :to_name, class: "col-sm-4 control-label" %>
		    <div class="col-sm-8">		    
		        <%= f.text_field :to_name, id: "geocompleteTo", class: "form-control", placeholder: "To Address" %>	   		        	   
		    </div>
		  </div>
		</div>
	</div>
	<div class="hr-line-dashed"></div>
	<div class="row">
		<div class="col-lg-3 pull-right">
			<%= button_tag(type: 'Submit', class: "btn btn-primary btn-block") do %>
        <i class="icon-ok icon-white"></i> Save
      <% end %> 
		</div>
		<div class="col-lg-3 pull-right">
			<%= link_to root_path, class: "btn btn-default btn-block" do %>
        <i class="icon-ok icon-white"></i> Cancel
      <% end %> 
		</div>
	</div>

  <script type="text/javascript">

  		$('#data_1 .input-group.date').datepicker({
          todayBtn: "linked",
          keyboardNavigation: false,
          forceParse: false,       
          autoclose: true
      });     

      $("#geocompleteFrom").geocomplete({     
        	details: ".field",
            types: ["geocode", "establishment"],
            componentRestrictions: {country: "ae"},
        });

      $("#geocompleteTo").geocomplete({     
        	details: ".field",
            types: ["geocode", "establishment"],
            componentRestrictions: {country: "ae"},
        });


  </script>

<% end %>