<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-10">
        <h2>Cancel Bookings</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <a>Bookings</a>
            </li>
            <li class="active">
                <strong>Cancel</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cancel - <small>Cancel this booking and choose the reason.</small></h5>                  
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r form-horizontal">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <h3 class="text-warning" style="margin-bottom: 0;">
                                        <%= @booking.reference_no %>
                                    </h3>
                                    <small><%= @booking.book_date %> - <%= @booking.book_time %></small>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Corporate</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.corporate.name %></p>  
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Passenger</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.passenger_name %></p>  
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">From Location</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.from_name %></p>  
                                </div>
                            </div>      
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">To Location</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.to_name %></p>  
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Payment Type</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.payment_type.name %></p>  
                                </div>
                            </div>            
                        </div>
                        <div class="col-sm-6">
                            <% if @booking.driver_id.present? %>
                            
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <label class="control-label pull-left">Driver</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="form-control-static"><%= @booking.driver.name %></p>  
                                        </div>
                                    </div> 
                         
                            <% end %>
                            <%= form_for @booking, url: execute_cancel_path(@booking), html: { class: 'form-horizontal' } do |f|  %>
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <label class="control-label pull-left">Reason</label>
                                    </div>
                                </div>
                                <div class="row">                              
                                    <div class="col-sm-12">
                                        <%= f.collection_select(:cancel_reason_id, CancelReason.all, :id, :reason, {}, {class: "form-control"}) %>                                                   
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <label class="control-label pull-left">Price</label>
                                    </div>
                                </div>
                                <div class="row">                              
                                    <div class="col-sm-12">
                                        <%= f.text_field :price, class: "form-control", placeholder: "Booking price" %>                                            
                                        <%= f.hidden_field :cancelled_by, value: current_user.fullname if current_user.fullname.present? %>
                                        <%= f.hidden_field :booking_status_id, value: 4 %>
                                        <%= f.hidden_field :cancelled_on, value: Time.now %>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6 pull-right">
                                        <%= button_tag(type: 'Submit', class: "btn btn-danger btn-block") do %>
                                            <i class="icon-ok icon-white"></i> Cancel this Booking
                                        <% end %> 
                                    </div>                                   
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>