<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>View Bookings</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <a>Bookings</a>
            </li>
            <li class="active">
                <strong>Show</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="text-warning" style="margin-bottom: 0;">
                        <%= @booking.reference_no %>
                        <% if @booking.booking_status_id == 1 %>
                            <span class="badge badge-primary pull-right"><%= @booking.booking_status.status %></span>
                        <% elsif @booking.booking_status_id == 2 %>
                            <span class="badge badge-warning pull-right"><%= @booking.booking_status.status %></span>
                        <% elsif @booking.booking_status_id == 3 %>
                            <span class="badge badge-success pull-right"><%= @booking.booking_status.status %></span>
                        <% elsif @booking.booking_status_id == 4 %>
                            <span class="badge badge-danger pull-right"><%= @booking.booking_status.status %></span>
                        <% end %>
                    </h3>
                    <small><%= @booking.book_date %> - <%= @booking.book_time %></small>                  
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r form-horizontal">                           
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Corporate</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.corporate.name %></p>  
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Passenger</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.passenger_name %></p>  
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">From Location</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.from_name %></p>  
                                </div>
                            </div>      
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">To Location</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.to_name %></p>  
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Payment Type</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.payment_type.name %></p>  
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Execution Remarks</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.execute_remarks %></p>  
                                </div>
                            </div>         
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Driver</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.driver.name if @booking.driver.present? %></p>  
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <label class="control-label pull-left">Executed On</label>
                                </div>
                                <div class="col-lg-12">
                                    <p class="form-control-static"><%= @booking.executed_on %></p>  
                                </div>
                            </div>  
                            <% if @booking.booking_status_id == 3 %>
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <label class="control-label pull-left">Finished On</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="form-control-static"><%= @booking.finished_on %></p>  
                                    </div>
                                </div>    
                            <% elsif @booking.booking_status_id == 4 %>
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <label class="control-label pull-left">Cancelled On</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="form-control-static"><%= @booking.cancelled_on %></p>  
                                    </div>
                                </div>  
                            <% end %>                        
                            <% if current_user.super? %>
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <label class="control-label pull-left">Price</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="form-control-static"><%= @booking.price if @booking.price.present? %></p>  
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <label class="control-label pull-left">Executed by</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="form-control-static"><%= @booking.executed_by if @booking.executed_by.present? %></p>  
                                    </div>
                                </div> 
                                <% if @booking.booking_status_id == 3 %>
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <label class="control-label pull-left">Finished by</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="form-control-static"><%= @booking.finished_by if @booking.finished_by.present? %></p>  
                                        </div>
                                    </div> 
                                <% elsif @booking.booking_status_id == 4 %>
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <label class="control-label pull-left">Cancelled by</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="form-control-static"><%= @booking.cancelled_by if @booking.cancelled_by.present? %></p>  
                                        </div>
                                    </div> 
                                <% end %>
                            <% end %>
                            
                            <br><br>
                                 <div class="row">                              
                                    <div class="col-lg-6 pull-right">
                                        <% if current_user.super %>
                                            <%= link_to all_bookings_path, class: "btn btn-default btn-block" do %>
                                                <i class="icon-ok icon-white"></i> Back
                                            <% end %> 
                                        <% else %> 
                                            <%= link_to root_path, class: "btn btn-default btn-block" do %>
                                                <i class="icon-ok icon-white"></i> Back
                                            <% end %> 
                                        <% end %> 
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>