<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fast Limo Drivers</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <a>Drivers</a>
            </li>
            <li class="active">
                <strong>Lists</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lists - <small>All Fast Limo drivers with their current status.</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                                <% @drivers.each do |driver| %>
                                    <tr>
                                        <td class="project-status">                                            
                                            <% if driver.driver_status_id == 1 %>
                                                <span class="label label-primary">
                                                    <%= driver.driver_status.status %>
                                                </span>
                                            <% elsif  driver.driver_status_id == 2 %>
                                                <span class="label label-warning">
                                                    <%= driver.driver_status.status %>
                                                </span>
                                            <% else %>
                                                <span class="label label-info">
                                                    <%= driver.driver_status.status %>
                                                </span>
                                            <% end %>
                                        </td>                                     
                                        <td class="project-title">                                                                                        
                                            <a href="#">
                                                <%= driver.name %>
                                            </a>
                                            <br>
                                            <small><%= driver.created_at.strftime('%m/%d/%Y') %></small>
                                        </td>
                                        <td class="project-completion">
                                            <small><%= driver.mobile_no %></small>                                              
                                        </td>    
                                        <td class="project-completion">
                                            <small><%= truncate(driver.remarks, length: 40) %></small>                                              
                                        </td>                                      
                                        <td class="project-actions">
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>                                            
                                            <%= link_to edit_driver_path(id: driver.id), class: "btn btn-white btn-sm" do %>       
                                                <i class="fa fa-pencil"></i> 
                                                <span class="nav-label">Edit</span>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>