<nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed;"">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
      
        <%= image_tag 'logo.png', style: "width: 200px; height: 80px; margin-left: 10px;" %>  

      
			<li class="nav-header">
          <div class="dropdown profile-element">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear"> 
                	<span class="block m-t-xs"> 
                		<strong class="font-bold"><%= current_user.fullname %></strong>
                 	</span> 
                 	<span class="text-muted text-xs block"><%= current_user.email %> <b class="caret"></b></span> 
                 </span> 
               </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">	    
                  <li><%= link_to "User Settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
          </div>
          <div class="logo-element">  
          </div>
      </li>
      <li>
      	<%= link_to root_path do %>
        	<i class="fa fa-home"></i> <span class="nav-label">Home</span>
        <% end %>
      </li> 
      <li>
      	<%= link_to new_corporate_booking_path(corporate_id: current_user.corporate_id) do %>       
        	<i class="fa fa-book"></i> 
        	<span class="nav-label">New Booking</span>
     		<% end %>
      </li>              
      <li>
        <%= link_to corporate_bookings_path(corporate_id: current_user.corporate_id) do %>       
        	<i class="fa fa-list"></i> 
        	<span class="nav-label">My Booking Lists</span>
     		<% end %>
      </li>
      <% if current_user.super %>
        <li>
          <a href="#">
            <i class="fa fa-th-large"></i> 
            <span class="nav-label">Bookings</span> 
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse ">
            <li>
              <%= link_to all_bookings_path do %>       
                <i class="fa fa-book"></i> 
                <span class="nav-label">Execute Bookings</span>
              <% end %>
            </li>
            <li>
              <%= link_to finished_bookings_path do %>       
                <i class="fa fa-book"></i> 
                <span class="nav-label">Finished Bookings</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-th-large"></i> 
            <span class="nav-label">Corporates</span> 
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse ">
            <li>
              <%= link_to corporates_path do %>       
                <i class="fa fa-bank"></i> 
                <span class="nav-label">Corporate Lists</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_corporate_path do %>       
                <i class="fa fa-address-card"></i> 
                <span class="nav-label">New Corporate</span>
              <% end %>
            </li>  
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users"></i> 
            <span class="nav-label">Drivers</span> 
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse ">
            <li>
              <%= link_to drivers_path do %>       
                <i class="fa fa-user-circle"></i> 
                <span class="nav-label">All Drivers</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_driver_path do %>       
                <i class="fa fa-plus"></i> 
                <span class="nav-label">New Driver</span>
              <% end %>
            </li> 
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-car"></i> 
            <span class="nav-label">Vehicles</span> 
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse ">
            <li>
              <%= link_to vehicles_path do %>       
                <i class="fa fa-user-circle"></i> 
                <span class="nav-label">All Vehicles</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_vehicle_path do %>       
                <i class="fa fa-plus"></i> 
                <span class="nav-label">New Vehicle</span>
              <% end %>
            </li> 
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cogs"></i> 
            <span class="nav-label">Settings</span> 
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse ">
            <li>
              <%= link_to new_user_corporates_path, remote: true do %>       
                <i class="fa fa-user-plus"></i> 
                <span class="nav-label">New User Client</span>
              <% end %>
            </li> 
          </ul>
        </li>
               
      <% end %>
		</ul>
	</div>
</nav>