<!DOCTYPE html>
<html>
<head>
  <title>Fastlimo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  	
	<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1OlEuADIqMRCKnvsW5a-cF_HQwIAs2Mw&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
	<% if not controller.class.name.split("::").first == 'Devise' %>
		<body>
			<div id="wrapper">
				<%= render 'layouts/sidebar' %>
				<div class="gray-bg dashbard-1" id="page-wrapper">
					<div class="row border-bottom">		
							
					</div>
					<%= yield %>
				</div>
				
			</div>
		</body>			
	<% else %>
		<body class="gray-bg">
			<div class="middle-box text-center loginscreen animated fadeInDown">
				<%= yield %>
			</div>
		</body>
	<% end %>
	<div id="modal-shows"></div><!-- For modal shows, partial rendering -->
</html>
